.random-phrases {
  position: relative;
  width: 100%;
  height: 100vh;
}
.random-phrases-title {
  color: white;
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  top: 37px;
  left: 20px;
  display: flex;
  align-items: center;
}
.random-phrases-title > span {
  font-weight: 500;
  font-size: 17px;
}

button {
  padding: 12px 22px;
  outline: none;
  font-size: 11px;
  cursor: pointer;
  letter-spacing: 1.2px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  font-weight: 500;
  transition: all .2s;
}

button:hover{
  background: rgba(209, 209, 209, 0.178);
}

@media only screen and (min-width: 768px) {
  .random-phrases-title {
    left: 50px;
  }
}