.showfade-enter {
  opacity: 0;
  transform: translateY(-200px);
}

.showfade-enter.showfade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease-in;
}

.showfade-leave {
  opacity: 1;
  transform: translateY(0);
}

.showfade-leave.showfade-leave-active {
  opacity: 0;
  transform: translateY(-200px);
  transition: all .3s ease-out;
}


.button-show-fade {
  position: absolute;
  bottom: 8.1%;
  left: 20px;
  padding: 0 5px;
}

.button-show-fade .show-fade {
  padding: 10px 0 20px 0;
}

.button-show-fade .show-fade > input {
  display: flex;
  background: transparent;
  margin: 10px 0;
  padding-left: 10px;
  outline: none;
  color: white;
  border: 1px solid white;
  width: 300px;
  height: 37px;
  border-radius: 5px;
}
.button-show-fade .show-fade > input::placeholder {
  color: rgba(255, 255, 255, 0.568);
}

@media only screen and (min-width: 768px) {
  .button-show-fade {
    left: 50px;
  }
}