.random-button {
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -92%);
}

@media only screen and (max-width: 400px) {
  .random-button {
    left: 74%;
  }
}